<html>
  <head>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
    <link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"
    rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js"></script>

    {{ script | safe }}

    {{ script2 | safe }}

  </head>
  <body>
    <div class=page>
      <h1>Distribution of restaurants in New York City, NY</h1>
	  <p> 
	  	NYC is different from <A HREF='houston'> Houston, TX</A>. Its local attractions, like Broadway, 
      greatly skews the distribution of 
		restaurants. Moreover, lots of New Yorkers don't drive/take a car to travel across town.
		Instead, they use subway. Therefore, the method of weighting income and household number
		by driving distance may not work so well in New York.
	  </p> 
	  <p>
      In fact, the logarithmic values for local income and restaurant count have a correlation
      coefficient (scroll down for it)! It could suggest restaurants in NYC is mainly driven by local customers. 
	  </p>
    {{ div | safe }}
    <p>Potential power-law relationship between local income and restaurant count in NYC.</p>
    {{ div2 | safe }}
    </div>
  </body>
</html>
