<html>
  <head>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
    <link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"
    rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js"></script>

    {{ script | safe }}

    {{ script2 | safe }}

  </head>
  <body>
    <div class=page>
      <h1>Distribution of restaurants in New York City, NY</h1>
	  <p> 
	  	NYC is different from <A HREF='houston'> Houston, TX</A>. Its local attractions, like Broadway, 
      greatly skews the distribution of 
		restaurants. Moreover, lots of New Yorkers don't drive/take a car to travel across town.
		Instead, they use subway. Therefore, the method of weighting income and household number
		by driving distance may not work so well in New York.
	  </p> 
	  <p>
      In fact, the logarithmic values for local income and restaurant count have a correlation
      coefficient (scroll down for it)! It could suggest restaurants in NYC is mainly driven by local customers. 
	  </p>
    {{ div | safe }}
    <p>Potential power-law relationship between local income and restaurant count in NYC.</p>
    {{ div2 | safe }}


    <ul>
        <li>Restaurant information: <a href='https://data.cityofnewyork.us/resource/9w7m-hzhe.json'>
          New York City restaurant inspection record (API)</a>.</li>
        <li>Income: <a href='https://www.irs.gov/uac/soi-tax-stats-individual-income-tax-statistics-zip-code-data-soi'>
          IRS individual income tax return record</a>.</li>
        <li>Geodata: <a href='https://www.census.gov/geo/maps-data/data/cbf/cbf_zcta.html'>
          Zip code shapefile</a> and 
          <a href='https://www.census.gov/geo/maps-data/data/gazetteer2016.html'> 
          zip code lat/lon cordinates </a></li>
        <li>Travel time matrix: <a href='https://github.com/Project-OSRM/osrm-backend/blob/master/docs/http.md'>
          OSRM backend API</a> (hosted locally) and
          openstreetmap data downloaded from <a href='http://download.geofabrik.de/'>Geofabrik</a>.</li>
      </ul>
    </div>
  </body>
</html>
