<html>
  <head>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
    {{ script | safe }}
  </head>
  <body>
    <div class=page>
      <h1>Restaurant count vs. income in NYC</h1>
	  <p> The plot below shows a simple relationship between the number of restautrants and the total income of a zipcoded area in NYC. 
	  The colors reprents types of cuisine and the size of dots represents the size of the total population in that zipcoded area.
	  
	  The plot suggests higher income may be correlated to higher concentration of restaurants. However, there are lots of zipcodes with relatively high income but not that many restaurants. This shows local income is not a good indicator for restuarant density. <a href="http://www.yahoo.com">A different parameter may work better.</a>
	  </p>
      {{ div | safe }}
    </div>
  </body>
</html>