<html>
  <head>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
    {{ script | safe }}
  </head>
  <body>
    <div class=page>
      <h1>Restaurant count vs. income (weighted by travel time) in NYC</h1>
	  <p> The plot below shows the relationship between the number of restautrants and the total income accessible by a zipcoded area in NYC. The accessible income for a zip code is calculated by weighting income from all zip codes by the travel time between the zip code of interest and all other zip codes.
	  The colors reprents types of cuisine and the size of dots represents the size of the total population in that zipcoded area.
	  
	  Compared to <a href="http://www.yahoo.com">the plot with income just in the zipcoded area</a>, this plot shows better correlation between restaurant density and the economical parameter of choice (local income vs. city-wide income).
	  </p>
      {{ div | safe }}
    </div>
  </body>
</html>