<html>
  <head>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css" type="text/css" />
    <link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"
    rel="stylesheet" type="text/css">

    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
    <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js"></script>

    {{ script | safe }}

  </head>
  <body>
    <div class=page>
      <h1>distribution of restaurants and income in Houston, TX</h1>
	  <p> 
	  	Houston is a city on the wheel! Restaurants in Houston concentrate at places where
		people can easily reach with driving. The accessible income map shows the region west of
		downtown can reach the highest amout of income from the whole city by car. This region also
		has the highest concentration of restaurants in the city.
	  </p> 
	  	The accessible income map suggest.
	  <p>
	  </p>
    </div>
    {{ div | safe }}
  </body>
</html>
